<%= form_for wiki do |f| %>
  <% if wiki.errors.any? %>
    <div>
      <h4><%= pluralize(wiki.errors.count, "error") %></h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <%= f.label :mud %>
      <%= f.collection_select(:mud_id, Mud.approved, :id, :name, (params[:action] == "edit" ? {:selected => wiki.mud.id} : {:selected => Mud.approved.first.id} )) %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Wiki's Name" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 8, class: 'form-control', placeholder: "Wiki's Description" %>
  </div>
  
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>