<h1>Wikis#show</h1>
<h1><%= @wiki.name %></h1>

<p><%= pluralize(@wiki.pages.count, 'page') %> on this wiki</p>
<p><%= @wiki.description %></p>



<p><%= link_to "Edit Wiki", edit_wiki_path(id: @wiki.id) %> | <%= link_to "Pages Index", wiki_pages_path(@wiki.id) %> | <%= link_to "Delete Wiki", @wiki, method: :delete, data: {confirm: 'Are you sure you want to delete this wiki?'} %></p>