<div id="wiki-view">
  <h1 id="wiki-name"><%= @wiki.name %></h1>
  <ol class="breadcrumb pull-right">
    <li><a href="#"><%= link_to @wiki.mud.name, @wiki.mud %></a></li>
    <li class="active"><%= @wiki.name %></li>
  </ol>

  <% if @wiki.user == current_user %>
    <div class="btn-group">
      <a type="button" class="btn dropdown-toggle" id="wiki-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
        <ul class="dropdown-menu" id="wiki-dropdown">
          <% if policy(@wiki).edit? %>
            <li><%= link_to "Edit Wiki", edit_wiki_path(id: @wiki.id) %></li>
          <% end %>
          <% if policy(@wiki).destroy? %>
            <li><%= link_to "Delete Wiki", @wiki, method: :delete, data: {confirm: 'Are you sure you want to delete this wiki and all its pages?'} %></li>
          <% end %>  
          <li><a href="#">Placeholder</a></li>
        </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="private-eye pull-left">
      <% if @wiki.private %>
        <span class="glyphicon glyphicon-lock"></span>
      <% end %>
    </div>
    
    <% if @wiki.user == current_user %>
      <div class="col-md-1" id="wiki-owner">You own this wiki</div>
    <% end %>
    
  </div>
  
  <hr />

  <div class="row">
    <div class="wiki-body">
      <div class="col-md-4"><%= @wiki.description %></div>
    </div>
    <div id="wikis-panel" class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-left"><%= @wiki.pages.count %> <span class="glyphicon glyphicon-book"></div>
          <div class="pull-right"><%= link_to "Add New Page", new_wiki_page_path(@wiki.id) %> <span class="glyphicon glyphicon-plus"></span></div>
        </div>
        <table class="table table-hover">
          <tbody>
            <% @wiki.pages.each do |page| %>
                <tr>
                  <td>
                    <%= link_to page.title, wiki_page_path(@wiki.id, page.id) %>
                  </td>
                  <td>
                    Updated <%= time_ago_in_words(page.updated_at) %> ago 
                  </td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>