<div class="box">
  <h2><span class="sword">ס₪₪₪₪§|(Ξ≥≤≥≤≥≤ΞΞΞΞΞΞΞΞΞΞ></span>Sign In<span class="sword2"><ΞΞΞΞΞΞΞΞΞΞ≥≤≥≤≥≤Ξ)|§₪₪₪₪ס</span></h2>
  <p class="mud-text">You approach a familiar looking man in a heavy hooded cloak. He turns his head towards you, his face completly darkened by shadow except a wry smile on his lips...</p>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div class="row">
      <p class="form-label col-md-7 ">"Remind me of your name please, adventurer?"</p>
      <%= f.text_field :username_or_email, autofocus: true, class: "form-field col-md-3", placeholder: "Email or Username" %>
    </div>

    <div class="row">
      <p class="form-label col-md-7 ">"What was your secret Password?"</p>
      <%= f.password_field :password, class: "form-field col-md-3", placeholder: "Password", autocomplete: "off" %>
    </div>
    
    <div class="submit">
      <%= f.submit "Sign In", class: "create" %>
    </div>
  <% end %>
  
  <div class="dropdown">
    <button class="dropdown-toggle" type="button" id="sign-in-help" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Help
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="sign-in-dropdown" aria-labelledby="sign-in-help">
      <%= render "devise/shared/links" %>
    </ul>
  </div>
  
  
</div>