<h1>MUDs</h1>
<p></p>
<div id="muds-panel">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="pull-left">Total MUDs: <%= @muds.count %></div>
      <div class="pull-right"><%= link_to "New MUD Request", new_mud_path %> <span class="glyphicon glyphicon-plus"></span></div>
    </div>
    <table class="table table-striped">
      
      <% @muds.each do |mud| %>
        <tr>
          <td>
            <%= link_to mud.name, mud_path(mud.id) %>
          </td>
          <td>
            <%= link_to mud.url, mud.url %>
          </td>
          <td>
            <%= pluralize(mud.wikis.count, 'wiki') %> for this MUD
          </td>
        </tr>
      <% end %>
    
    </table>
  </div>
  
</div>

